.hom_image{
    width: 40%;
    margin: 19px 0px 0px 5px;
}
.icon_cls{
    width: 40px;
    height: 28px;
    color: #081F66;
}

.basket_cls{
    width: 40px;
    height: 28px;
    color: #081F66;
    margin-right: 5px;
}

    

.para{position: absolute;
    padding: 4px;
    background: #CF1673;
    border-radius: 50%;
        height: 20px;
    width: 20px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    right: 1%;
    top: 0%;
    z-index: 999;
}

.premium{
    background: #a3e9a1;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    img{
        width: 100%;
        margin-top: 30px;
    }
    h3{color: #081F66;
        font-size: 24px;}
    p{
        color: #2C2C2C;
        font-size: 14px;
    }
    button
    { 
        float: right;
        background: #e44424;
        padding: 9px 14px;
        border-radius: 7px;
        color: #fff;
        font-size: 12px;
        outline: none;    
    }
}
.premium:nth-child(4n+1){
   background-color:#a3e9a1;
}

.classic{
    background: #fbdcdb;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    img{
        width: 100%;
        margin-top: 30px;
    }
    h3{color: #081F66;
        font-size: 24px;}
    p{
        color: #2C2C2C;
        font-size: 14px;
    }
    button
    { 
        float: right;
        background: #e44424;
        padding: 9px 14px;
        border-radius: 7px;
        color: #fff;
        font-size: 12px;
        outline: none;    
    }
}

.classic:nth-child(4n+1){
   background-color:#fbdcdb;
}

.category{
    background: #D5EAFF;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 15px;
    img{
        width: 100%;
        margin-top: 30px;
    }
    h3{color: #081F66;
        font-size: 24px;}
    p{
        color: #2C2C2C;
        font-size: 14px;
    }
    button
    { 
        float: right;
        background: #e44424;
        padding: 9px 14px;
        border-radius: 7px;
        color: #fff;
        font-size: 12px;
        outline: none;    
    }
}



.category:nth-child(4n+1){
   background-color:#D5EAFF;
}


.category:nth-child(4n+2){
   background:#fbdcdb;
}
.category:nth-child(4n+3){
   background:#FEF0DC;
}
.category:nth-child(4n+4){
   background:#F2F1ED;
}

.plantext {
    background: #e44424;
    color: #fff;
    padding: 5px;
    p {
        font-size: 16px;
    text-align: center;
    padding-bottom: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    }
}

.subscriptionlist {
    background: #fff;
    margin-top: -16px;
    border-radius: 20px;
    padding: 27px;
}

