<!-- <ion-header>
  <ion-toolbar>
    <ion-title>registersuccess</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="class_name">
  <div class="registersuccess">
    <ion-row class="success_text">
      <p style="text-align:center;">Your registration under approval<br/>
        once approved you<br/>
        can start using</p>
      </ion-row>

      <button class="btn_login" (click)="goLogin()">
			<p>CONTINUE TO LOGIN <ion-icon name="chevron-forward-outline" class="arrow_cls"></ion-icon>
			</p>
		</button>
  </div>


  
</ion-content>


