.vendor-head{
   font-size:16px;
   font-weight:600;
   padding-inline:0px;
}
table {
     border-collapse: collapse;
    width: 100%;
  }
  
 th {
    border-right: 1px solid #cccccc;
    text-align: left;
    padding: 12px 3px;
    background-color: #efefef;
    color: #05274d;
    text-align: center;
    font-size:13px;
  }
  td{
    border-right: 1px solid #d4d4d4;
    text-align: left;
    padding: 6px 2px;
    text-align: center; 
    font-size:15px;
    background-color:#fafafa;
    border-bottom:3px solid #fff; 
  }

  .editbtn {
    font-weight: 600;
    font-size: 20px;
    color: green;
    background: #fff;
    border-radius: 4px;
    margin: 2px;
    outline:none;
  }
  .deletebtn {
    font-weight: 600;
    font-size: 20px;
    color: red;
    background: #fff;
    border-radius: 4px;
    margin: 2px;
    outline:none;
  }
 .productlist {
    letter-spacing: 1px;
    border-radius: 6px;
    color:#081f66;
    background: #fff;
    padding: 8px 14px;
    font-size: 14px;
    margin: 8px 17px;
    font-weight: bold;
    outline:none;
 }
 .addvariant {
    float: right;
    color: #fff;
    padding: 7px;
    background: #f47a20;
    border-radius: 3px;
    font-size: 13px;
    margin-right: 10px;
 }

 .addvariantbox {
     h3 {
         margin-left: 20px;
         font-size: 16px;
         font-weight: 600;
     }
     ion-select {
        border: 1px solid #cac6c6;
        margin: 11px 15px;
        border-radius: 20px;
        padding:10px 20px;
        font-size:13px;
        outline:none;
     }
     ion-datetime {
        border: 1px solid #cac6c6;
        margin: 11px 15px;
        border-radius: 20px;
        padding:10px 20px;
        font-size:13px;
        outline:none;
     }
     .buttoncol {
        color: #fff;
        margin: auto;
        display: block;
        background: #f47a20;
        padding: 7px 10px;
        border-radius: 4px;
     }
 }