ion-segment{
  // --background: linear-gradient(brown , brown); 
  --color: #040404;
  /* height: 30px; */
  border-bottom: 1px solid #05274d6e;
  font-size:12px;
}
ion-segment-button{
  --color: #0e0e0e;
  --indicator-color: #e44424;
  --background-checked: #ffffff;
  --color-checked: #e44424;
  --indicator-height: 3px;
  /* min-height: 30px; */
  text-transform: capitalize;
  --padding-bottom: 10px;
  --padding-top: 5px;
  font-size:12px;
}
.orderInfoKey{
      font-weight: bold;     
      color:black;   
      font-size:13px;  
}
.orderData{
  text-align:right;
  color:black;
  font-size:13px;
}
.vendor-head{
  font-size:16px;
  font-weight:600;
  padding-inline:0px;
}