.vendor-head{
  font-size:16px;
  font-weight:600;
  padding-inline:0px;
}
ion-segment{
    // --background: linear-gradient(brown , brown); 
    --color: #040404;
    /* height: 30px; */
    border-bottom: 1px solid #f47a206e;
  }
  ion-segment-button{
    --color: #0e0e0e;
    --indicator-color: #f47a20;
    --background-checked: #ffffff;
    --color-checked: #f47a20;
    --indicator-height: 3px;
    /* min-height: 30px; */
    text-transform: capitalize;
    --padding-bottom: 10px;
    --padding-top: 5px;
  }
  .orderInfoKey{
        font-weight: bold;  
        font-size:13px;        
  }
  .order-data{
    text-align:right;
    font-size:13px;
}