
.div_content{
    .div_logo{
        width: 100%;
        // height: 30vh;
        position: relative;

        height: 100px;
        margin-top: 20%;

        .img_logo{
            width: 220px;
            position: absolute;
            left: 50%;
            top: 40%;
            transform: translate(-50%,-50%);
        }
    }
    width: 100%;
    height: 65vh;

    .div_segment{
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;

        .lbl_segment{
            margin-bottom: 5px;
            font-family: Exo2-Bold;
        }
        ion-segment-button{
            border-style : unset;
            font-size: 14px;
            text-transform: capitalize;
        }
        ion-segment{
            --background-hover : none !important;
            --color : var(--ion-color-text);
            --color-checked : var(--ion-color-primary);
            --color-checked-disabled : var(--color-checked);
            border-bottom: 1px solid lightgray;
            --background-activated: transparent !important; 
            --background-checked: transparent !important;
            margin-top: 0px;
        }
        .segment-button-indicator{
            background-color  : var(--ion-color-primary);
        }
    }

    .div_primary_text{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;

        .div_inner{
            margin-top: 20px;
            height: 50px;
            width: 100%;
            border-radius: 20px;
            // background-color: #eeeeef;
            position: relative;
            border: 1px solid #fff;
           color: #05274d;
    background: #e8f0fe;
            .img_user{
                width: 15px;
                position: absolute;
                left: 5%;
                top: 50%;
                transform: translateY(-50%);
            }
            .in{
                position: absolute;
                width: 90%;
                left: 5%;
                top: 50%;
                transform: translateY(-50%);
                font-size: 19px;
                letter-spacing:1px;
            }
        }
        .lbl_forgot{
            font-size: 14px;
            display: block;
            text-align: right;
            margin-top: 15px;
            color: #fff;
            letter-spacing: 1px;
        }
        .div_btn{
            width: 100%;
            margin-top: 20px;
            position: relative;

            .btn_login{
                color: white;
                --background: #e44424;
                height: 55px;
                font-size: 21px;
                width: 65%;
                text-transform: none;
                --border-radius: 25px;
                letter-spacing:1px;
            }
        }
        h2 {
            overflow: hidden;
            text-align: center;
        }

       
        .div_or{
            width: 100%;
            margin-top: 20px;

            .lbl_or{
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                font-size: 15px;
            }
            .img_line{
                width: 100%;
                height: 1px;
                margin-top: 7px;
                background-color:var(--ion-color-dark) !important;
            }
        }
        .div_social{
            margin-top: 15px;
            .img_fb{
                width: 50px;
                
            }
            .img_twit{
                width: 50px;
            }
            .img_gplus{
                width: 50px;
            }
        }

        .lbl_create{
            text-align: center;
            display: block;
            font-weight: bold;
            color: var(--ion-color-darl);;
            font-size: 16px;
            margin-top: 10px;
        }
    }
}
.account{
    margin-top: 30px;
    color: white;
    margin-bottom: 0px;
    letter-spacing:1px;
}
.create{
    margin-top: 7px;
    color: #e44424;
    letter-spacing:1px;
}
.wel{
    color: #fff;
    letter-spacing: 3px;
    font-size: 17px;
    line-height: 28px;
}

ion-radio{
    --color-checked: #e44424;
}
.error{
    color:red;
}

.passwordIcon{
   font-size: 1.5rem !important;
    position: relative !important;
    top: -41px !important;
    margin: 0 auto !important;
    left: 88%;
    z-index: 9999;
    color: #000;
}