.addvariantbox {
    ion-label {
        margin-left: 20px;
    font-size: 15px;
    font-weight: 600;
    }
   
        ion-input {
            width: 90%;
            border: 1px solid #cac6c6;
            margin: 5px 15px;
            border-radius: 5px;
         }
    
   
    button {
        margin: 5px;
        color: #fff;
        background: #05274d;
        padding: 10px 10px;
        border-radius: 4px;
    }
}
h3 {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 600;
}

.acceptmodal {
    border-radius: 30px 30px 3px 2px;
    padding: 3px;
    background:#05274d;
  }
  .acceptmodal h4 {
    color: #fff;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
  }
    .inputbox {  
      border: 1px solid #e8e7e7;
      --background: #e8e7e7;
      border-radius: 6px;
      margin-top: 3px;
    }
  
    .inputselect {
      border: 1px solid #e8e7e7;
      background: #e8e7e7;
      border-radius: 6px;
      margin-top: 3px;
    }
  
    .ion-model {
        --background:#05274d;
        }
        
        .quickmodelinput {
          color: #fff;
         --background: none;
         border-bottom: 1px solid #fff;
        }
        .modalbox1 {  
        margin: 33% 7%;
        background: #fff;
        border-radius: 30px;
        padding: 0px;
        }
        
        .modelboxinput {
        color: #fff;
        }
        