
<ion-content style="--background: transparent">
  <div class="modalbox1">
  	
    <ion-grid style="padding: 0;" *ngIf="mobilescreen=='true'">
    		
      <ion-row >
        <ion-col size="12" class="acceptmodal">
          <h4>{{show_logintype}} Forgot Password
          </h4>
        </ion-col>
        <ion-col size="12" style="padding: 10px 15px;">

          <ion-label style="font-size: 14px;font-weight: 600;margin-bottom: 10px;">Phone Number or Email</ion-label>
          <ion-input type="text" id="phone" name="phone" clear-input placeholder="*Phone Number or Email" class="inputbox">
          </ion-input>

          <div style="text-align: center;margin-top: 4%;"> <button small (click)="checkOTP()">Submit</button>
            <button small (click)="dismiss()">Close</button>

          </div>

        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-grid style="padding: 0;" *ngIf="otpscreen=='true'">
      <ion-row>
        <ion-col size="12" class="acceptmodal">
          <h4>Enter OTP
          </h4>
        </ion-col>
        <ion-col size="12" style="padding: 10px 15px;">

          <ion-label style="font-size: 14px;font-weight: 600;margin-bottom: 10px;">OTP</ion-label>
          	<ion-input type="text" id="otp" name="otp" clear-input placeholder="*OTP" class="inputbox">
          </ion-input>

          <ion-label style="font-size: 14px;font-weight: 600;margin-bottom: 10px;">New Password</ion-label>
          	<ion-input type="text" id="new_password" name="new_password" clear-input placeholder="*New Password" class="inputbox">
          </ion-input>

          <ion-label style="font-size: 14px;font-weight: 600;margin-bottom: 10px;">Confirm Password</ion-label>
          	<ion-input type="text" id="confirm_password" name="confirm_password" clear-input placeholder="*Confirm Password" class="inputbox">
          </ion-input>

          <div style="text-align: center;margin-top: 4%;"> <button small (click)="sendOTP()">Update</button>
            <button small (click)="back()">Change Phone</button>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>


  </div>

</ion-content>

<style>
  button {
    color: #fff;
    margin: 5px;
    background: #05274d;
    padding: 7px 10px;
    border-radius: 4px;
  }
</style>