<ion-header>
  <ion-toolbar style="--background: #fff;color: black;">
    <ion-back-button defaultHref slot="start"></ion-back-button>
    <ion-title class='vendor-head'>Bid ID</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="bid-product">Bid Products</h3>

  <ion-row style="font-size:15px;" *ngFor="let bid of cart_products">
    <ion-col size="4">
      <ion-card  class="bid-image">
        <ion-card-content>
          <img style="height:70px;" src="{{bid.image}}">
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="8">
      <h4 style="margin-bottom:0px;font-size:17px;">{{bid.product_name}}</h4>
      <p style="margin:0px;" *ngFor="let atr of bid.attributes"><b>{{atr.attribute_type}} :</b> {{atr.attribute_values}}</p>
      <p style="color:#081f65;margin:0px;">&#8377;{{bid.price}}</p>
      <p style="color:#05274d;margin:0px;">Quantity:{{bid.quantity}}</p>
    </ion-col>
  </ion-row>

  <!-- <ion-row style="font-size:15px;">
    <ion-col size="4">
      <ion-card  class="bid-image">
        <ion-card-content>
          <img style="height:70px;" src="../../assets/images/shops/add_new.png">
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="8">
      <h4 style="margin-bottom:0px;font-size:17px;">Smart Phone Title</h4>
      <p style="margin:0px;">6 GB Ram</p>
      <p style="color:#081f65;margin:0px;">&#8377;8999</p>
      <p style="color:#05274d;margin:0px;">Quantity:1</p>
    </ion-col>
  </ion-row>
  <ion-row style="font-size:15px;">
    <ion-col size="4">
      <ion-card  class="bid-image">
        <ion-card-content>
          <img style="height:70px;" src="../../assets/images/shops/add_new.png">
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="8">
      <h4 style="margin-bottom:0px;font-size:17px;">Smart Phone Title</h4>
      <p style="margin:0px;">6 GB Ram</p>
      <p style="color:#081f65;margin:0px;">&#8377;8999</p>
      <p style="color:#05274d;margin:0px;">Quantity:1</p>
    </ion-col>
  </ion-row>
  <ion-row style="font-size:15px;"> 
    <ion-col size="4">
      <ion-card  class="bid-image">
        <ion-card-content>
          <img style="height:70px;" src="../../assets/images/shops/add_new.png">
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="8">
      <h4 style="margin-bottom:0px;font-size:17px;">Smart Phone Title</h4>
      <p style="margin:0px;">6 GB Ram</p>
      <p style="color:#081f65;margin:0px;">&#8377;8999</p>
      <p style="color:#05274d;margin:0px;">Quantity:1</p>
    </ion-col>
  </ion-row> -->
  <div style="border-top: 1px solid #d3d3d3;margin:0px 10px;">
  </div>
      <ion-row style="text-transform: uppercase;padding:2px 10px;"> 
        <ion-col size="6" align="left">
        Sub Total
        </ion-col>
        <ion-col size="6" align="right">
          <p style="margin:0px;font-weight:bold;">&#8377;{{bidslist?.sub_total}}</p>
        </ion-col>
      </ion-row>

      <ion-row style="text-transform: uppercase;padding:2px 10px;"> 
        <ion-col size="6" align="left">
        Delivery Amount
        </ion-col>
        <ion-col size="6" align="right">
          <p style="margin:0px;font-weight:bold;">&#8377;{{bidslist?.delivery_amount}}</p>
        </ion-col>
      </ion-row>
      <ion-row style="text-transform: uppercase;padding:2px 10px;"> 
        <ion-col size="6" align="left">
        GST
        </ion-col>
        <ion-col size="6" align="right">
          <p style="margin:0px;font-weight:bold;">&#8377;{{bidslist?.gst}}</p>
        </ion-col>
      </ion-row>

      <ion-row style="text-transform: uppercase;padding:2px 10px;"> 
        <ion-col size="6" align="left">
        Total Price
        </ion-col>
        <ion-col size="6" align="right">
          <p style="margin:0px;font-weight:bold;">&#8377;{{bidslist?.grand_total}}</p>
        </ion-col>
      </ion-row>
      <ion-row style="text-transform: uppercase;background:#f2f1ed;color:#05274d;padding:2px 10px;" *ngIf="bidslist?.quote_status==true"> 
        <ion-col size="6" align="left">
         Your Quote
        </ion-col>
        <ion-col size="6" align="right">
          <p style="margin:0px;font-weight:bold;">&#8377;{{bidslist?.quote_amount}}</p>
        </ion-col>
      </ion-row>


      <ion-row style="text-transform: uppercase;color:#05274d;padding:2px 10px;" *ngIf="bidslist?.quote_status==false"> 
        <ion-col size="12" align="left">
          Enter Your Total Quotation
        </ion-col>
        <ion-col size="12">
          <p style="margin:0px;font-weight:bold;">&#8377;  <input type="number" small name="total_amount" [(ngModel)]="total_amount" value=""> </p>
        </ion-col>
      </ion-row>
      <ion-button *ngIf="bidslist?.quote_status==false" (click)="sendQuotation(bidslist?.grand_total,bidslist?.user_id)">Send Quotation </ion-button>
</ion-content>
