.reviewimg {
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 90px;
    margin: auto;
    display: block;
    background: grey;
    background-size: cover;
    height: 90px;
}
.reviewname {
    text-align: center;
    margin: 6px;
}
.reviewrate {
    font-size: 12px;
    text-align: center;
    color: green;
}
.reviewstar {
    font-size: 27px;
    text-align: center;
    color: #dcdc08;
    margin: -5px;
}
.descriptionbox {
    height: 90px;
    border-radius: 8px;
    margin: auto;
    width: 95%;
    border: 1px solid #000;
}
.reviewtitle {
    font-size: 14px;
    margin-left: 11px;
    margin-bottom: 5px;
    font-weight: 600;
}


.ion-model {
    --background: #000000a8;
  }
 
 .quickmodelinput {
      color: #fff;
     --background: none;
     border-bottom: 1px solid #fff;
 }
 .modalbox1 {  
    margin: 33% 7%;
    background: #fff;
    border-radius: 30px;
    padding: 30px 12px;
}
 
 .modelboxinput {
    color: #fff;
 }
 
 .sc-ion-modal-md-h {
   --background: transparent;
 }
 
 .modelclose {
    font-size: 22px;
    float: right;
    margin-top: -23px;
}

.inactive_star {
    text-align: center;
    font-size: 27px;
    margin: -5px;
  }

  .active_star {
    font-size: 27px;
    text-align: center;
    color: #dcdc08;
    margin: -5px;
  }
