<ion-header>
  <ion-toolbar style="--background: #05274d;color: #fff;">
    <ion-back-button defaultHref slot="start"></ion-back-button>
    <ion-title class="vendor-head">Update Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-input type="hidden" name="pid" [(ngModel)]="pid"></ion-input>
  <div class="addproductContainer">
    <ion-label position="floating">Product Name *</ion-label>
    <ion-input name="product_name" [(ngModel)]="product_name" placeholder="Enter Product Name"  readonly style="background: #ccc;"></ion-input>


    <!-- <ion-label position="floating">Category *</ion-label>
    <ion-select placeholder="Select Category" name="category" [(ngModel)]="category" (ionChange)="getSubcategories()" style="padding:12px 20px !important; background: #ccc;"  readonly>
      <ion-select-option value="{{c.id}}" *ngFor="let c of categories">{{c.title}}</ion-select-option>
    </ion-select>

    <ion-label position="floating">Sub Category *</ion-label>
    <ion-select placeholder="Select Sub Category" name="subcategory" [(ngModel)]="subcategory" style="padding:12px 20px !important; background: #ccc;" readonly>
      <ion-select-option value="{{sc.id}}" *ngFor="let sc of sub_categories">{{sc.title}}</ion-select-option>
    </ion-select>
    <ion-label position="floating">Brand</ion-label>
    <ion-select placeholder="Select Brand" name="brand" [(ngModel)]="brand" style="padding:12px 20px !important; background: #ccc;" readonly>
      <ion-select-option value="{{brd.id}}" *ngFor="let brd of brands">{{brd.brand_name}}</ion-select-option>
    </ion-select> 

    <ion-label position="floating">Product Description *</ion-label>
    <ion-textarea rows="6" cols="20" name="product_description" [(ngModel)]="product_description"
      placeholder="Product Description" #pro_descName style="background: #ccc;" readonly></ion-textarea>

      <ion-label position="floating">Key Features *</ion-label>
    <ion-textarea rows="6" cols="20" name="key_fetures" [(ngModel)]="key_fetures" placeholder="Key Features"
      #keyfeatName style="background: #ccc;" readonly></ion-textarea>

    <ion-label position="floating">Product Tags *</ion-label>
    <ion-select name="product_tags" [(ngModel)]="product_tags" placeholder="Select Product Tags" multiple="true" style="padding:12px 20px !important; background: #ccc;" readonly>
      <ion-select-option value="{{tag.title}}" *ngFor="let tag of tags">{{tag.title}}</ion-select-option>
    </ion-select>
 -->

    

    



    <ion-label position="floating">Return Available </ion-label>
    <ion-select placeholder="Return Available" name="return_available" [(ngModel)]="return_available" (ionChange)="getDays()" style="padding:12px 20px !important;">
      <ion-select-option value="yes">Yes</ion-select-option>
      <ion-select-option value="no">No</ion-select-option>
    </ion-select>

    <div *ngIf="showdays=='true'">
      <ion-label position="floating">Number of Days </ion-label>
            <ion-input name="no_of_days" [(ngModel)]="no_of_days" placeholder="Return Number of Days"></ion-input>
       </div> 

       <!-- <ion-label position="floating">Manage Stock </ion-label>
    <ion-select placeholder="Manage Stock" name="manage_stock" [(ngModel)]="manage_stock" style="padding:12px 20px !important; background: #ccc;" readonly>
      <ion-select-option value="yes">Yes</ion-select-option>
      <ion-select-option value="no">No</ion-select-option>
    </ion-select> -->

     <ion-label position="floating">Stock Status </ion-label>
    <ion-select name="availabile_stock_status" [(ngModel)]="availabile_stock_status" placeholder="Stock Status" interface="action-sheet" style="padding:12px 20px !important;">
        <ion-select-option value="available">AVAILABLE</ion-select-option>
        <ion-select-option value="sold">SOLD OUT</ion-select-option>
      </ion-select>

    
     <!-- <ion-label position="floating">Pick at the Store </ion-label>
      <ion-select placeholder="Pick at the Store" name="pick_store" [(ngModel)]="pick_store" style="padding:11px 25px !important;">
        <ion-select-option value="1">Yes</ion-select-option>
        <ion-select-option value="0">No</ion-select-option>
      </ion-select> -->

      <!-- <ion-label position="floating">Best on Offket </ion-label>
      <ion-select placeholder="Best on Offket" name="best_on_offket" [(ngModel)]="best_on_offket" style="padding:11px 25px !important;">
        <ion-select-option value="1">Yes</ion-select-option>
        <ion-select-option value="0">No</ion-select-option>
      </ion-select> -->

       <ion-label position="floating">Offers Product</ion-label>
      <ion-select placeholder="Offers" name="offers" [(ngModel)]="offers" >
        <ion-select-option value="1">Yes</ion-select-option>
        <ion-select-option value="0">No</ion-select-option>
      </ion-select>



        <ion-label position="floating">Product Status</ion-label>
    <ion-select placeholder="Product Status" name="product_status" [(ngModel)]="product_status"
      style="padding:11px 25px !important;" (ionChange)="getProductStatus()">
      <ion-select-option value="0">Buy now</ion-select-option>
      <ion-select-option value="2">Call the Retailer</ion-select-option>
    </ion-select>
<div *ngIf="showstat">
  <ion-label position="floating">Price Range *</ion-label>

   <ion-row>
    <ion-col>
           <ion-input type="tel" size="6" name="start_price_range" [(ngModel)]="start_price_range" placeholder="Start"></ion-input>
    </ion-col>
    <ion-col>
            <ion-input type="tel" size="6" name="end_price_range" [(ngModel)]="end_price_range" placeholder="End"></ion-input>
    </ion-col>
   </ion-row>

   
    <!-- <ion-label position="floating">Price Range *</ion-label>
    <ion-input name="price_range" [(ngModel)]="price_range" placeholder="Ex: 100-500"></ion-input> -->
</div>

    <!-- <div *ngIf="variant==true">
      <ion-input name="price" [(ngModel)]="price" placeholder="Enter Price (Rs.)"></ion-input>
      <ion-input name="sale_price" [(ngModel)]="sale_price" placeholder="Enter Sale Price (Rs.)"></ion-input>
      <ion-input name="stock" [(ngModel)]="stock" placeholder="Enter Stock"></ion-input>
    </div> -->

   

    <!-- <ion-select name="status" [(ngModel)]="status" placeholder="Status" interface="action-sheet" style="padding:12px 20px !important;">
      <ion-select-option value="1">Active</ion-select-option>
      <ion-select-option value="0">InActive</ion-select-option>
    </ion-select> -->


    <ion-button (click)="updateProduct()">Update Product</ion-button>

  </div>
</ion-content>