.productlist {
    letter-spacing: 1px;
    border-radius: 10px;
    background: #05274d;
    color: #fff;
    padding: 10px 10px;
    font-size: 12px;
    margin: 8px 10px;
    /* font-weight: 600; */
    outline: none;
 }
 .vendor-head{
    font-size:16px;
    font-weight:600;
    padding-inline:0px;
}


.vendor-head{
    font-size:16px;
    font-weight:600;
    padding-inline:0px;
 }
 table {
      border-collapse: collapse;
     width: 100%;
   }
   
  th {
     border-right: 1px solid #d8d8d8;
     text-align: left;
     padding: 12px 3px;
     font-size:13px;
     background-color: #efefef;
     color: #f28736;
     font-weight:normal;
     text-align: center;
   }
   td{
     border-right: 1px solid #cbcbcb;
     text-align: left;
     padding: 6px 2px;
     border-bottom:3px solid #fff;
     font-size:15px;
     text-align: center;  
     background-color:#fafafa;
   }
 
   .editbtn {
     font-weight: 600;
     font-size: 20px;
     color: green;
     background: #fff;
     border-radius: 4px;
     margin: 2px;
     outline:none;
   }
   .deletebtn {
     font-weight: 600;
     font-size: 20px;
     color: red;
     background: #fff;
     border-radius: 4px;
     margin: 2px;
     outline:none;
   }
   .productlist {
    letter-spacing: 1px;
    border-radius: 10px;
    background: #05274d;
    color: #fff;
    padding: 10px 10px;
    font-size: 12px;
    margin: 8px 10px;
    /* font-weight: 600; */
    outline: none;
 }

