.vendor-head{
    font-size:16px;
    font-weight:600;
    padding-inline:0px;
}
ion-input{
    margin-bottom:25px;
    border-bottom: 1px solid #05274d;
    background: #fff;
}
ion-button{
        --background: #081f66;
        width: 50%;
        margin: 10px auto;
        display: block;
}